<!DOCTYPE html>
<html>
  <head>
    <title>API Cat</title>
    <meta name="description" content="A basic API Catalogue">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/dialog.css">
  </head>
  <body>
    <header>
      Select a catalog: <select id="catSelect" onchange="getSelectedAPI()"></select>
      <h1 class="title">API Cat</h1>
      <div class="catInfo">
        <img id="catImg" class="iconImg" src="https://cdn.glitch.com/a81e82dc-e9a4-4051-a0be-7e79d5716e3f%2FapiIcon.png?1508077598625">
        <p class="description">
          A basic API catalogue based on <a href="http://apisjson.org/format.html">APIs.json</a>.
        </p>
      </div>
    </header>
    <main>
      <button onclick="dialog.showModal()">Add an API</button>
      <button onclick="exportAPIs()">Export</button>
      <dialog id="dialog">
        <form id="apiForm">
          Name:<br>
          <input id="formName" type="text" name="name" value="">
          Description:<br>
          <textarea id="formDescription" cols="40" rows="4" name="description" value=""></textarea><br>
          Base URL:<br>
          <input id="formUrl" type="text" name="baseUrl" value="">
          Docs URL:<br>
          <input id="formHumanUrl" type="text" name="baseUrl" value="">
          Version:<br>
          <input id="formVersion" type="text" name="version" value="">
          <br>
          <button onclick="postAPI()">Create</button>
          <button onclick="dialog.close()">Close</button>
        </form>  
      </dialog> 
      <section class="apis">
        <h2>APIs</h2>
        <ul class="apiList"></ul>
      </section>      
    </main>
    <script src="/client.js"></script>
  </body>
</html>
