dialog {
	position: fixed;
	top: 10%;
	margin: auto;
	padding: 30px;
	background: linear-gradient(to bottom, #FFF, #F4F4F4) #FFF;
	border: none;
	border-radius: 3px;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
	text-align: center;
	animation: dialog 300ms ease forwards 1;
	will-change: opacity;
}

@keyframes dialog {
	from { opacity: 0; }
  to { opacity: 1; }
}

dialog::backdrop {
	opacity: 0;
	will-change: opacity;
	cursor: no-drop;
  background: rgba(0,0,0,0.3);
	animation: backdrop 500ms ease forwards 1;
}

@keyframes backdrop {
	from { opacity: 0; }
	to { opacity: 1; }
}